<%- include('partials/header') %>

<p>the list</p>
<a href= <%= url %>> click here</a>


<form class="" action="/" method="post">
    <% for (const i in tasks){ %>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked" name="task">
            <%= tasks[i] %>
        </label>
    </div>
    <% } %>
    
    <button class="btn btn-primary" type="submit" name="tasks" value="<%= tasks %>"> What's on my list? </button>
</form>
<audio hidden controls autoplay>
    <source src= <%= url %>  type="audio/mpeg">
</audio>
    


